/** GUIA DE ESTILO PARA TEMA BLUE */

#global{
  background: white;
}

body{
  background: url('../img/cielo.jpg');
  background-attachment: fixed;
}

/** Formato Logo y título de la página */
#logo{
  background:rgb(0, 162, 255);
  color: white;
}
/** Formato Cabecera Men */
#menu{
  background:rgb(0, 162, 255);
}

#menu ul li:hover{
  background: rgb(28, 111, 160);
}

#menu a{
  color: white;
}

.post h2{
  color:  rgb(0, 162, 255);
}
.button-more{
  background:rgb(0, 162, 255);
}

/** ESTILO BARRA LATERAL */
#sidebar h4{
  color: rgb(0, 162, 255);
}

/** ESTILO DATOS DE USUARIO*/
.userData{
    color: rgb(0, 162, 255);
}

/** ESTILO FORMULARIO USUARIO */

form label{
    color: rgb(0, 162, 255);
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
  border: 1px solid rgb(0, 162, 255);
  box-shadow: 2px 2px 2px rgb(28, 111, 160);
}

form input[type='submit']{
  background: rgb(0, 162, 255);
}

/** ESTILO DEL PIE DE LA PÁGINA*/
footer{
  background: rgba(51,51,51,0.40);
}

.ui-state-active{
    background: rgb(0, 162, 255) !important; 
}

