/** GUIA DE ESTILO PARA TEMA BLUE */

#global{
  background: white;
}

body{
  background: url('../img/cielo.jpg');
  background-attachment: fixed;
}

/** Formato Logo y título de la página */
#logo{
  background:rgb(0, 162, 255);
  color: white;
}
/** Formato Cabecera Men */
#menu{
  background:rgb(0, 162, 255);
}

#menu ul li:hover{
  background: rgb(28, 111, 160);
}

#menu a{
  color: white;
}

.post h2{
  color:  rgb(0, 162, 255);
}
.button-more{
  background:rgb(0, 162, 255);
}

/** ESTILO BARRA LATERAL */
#sidebar h4{
  color: rgb(0, 162, 255);
}

/** ESTILO DATOS DE USUARIO*/
.userData{
    color: rgb(0, 162, 255);
}

/** ESTILO FORMULARIO USUARIO */

form label{
    color: rgb(0, 162, 255);
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type='number'],
form input[type='date'],
#form_contact select,
#form_contact textarea
{
  border: 1px solid rgb(0, 162, 255);
  box-shadow: 2px 2px 2px rgb(28, 111, 160);
}

form input[type='submit']{
  background: rgb(0, 162, 255);
}

/** ESTILO DEL PIE DE LA PÁGINA*/
footer{
  background: rgba(51,51,51,0.40);
}

.ui-state-active{
    background: rgb(0, 162, 255) !important; 
}

.ui-accordion-content{
    background: rgba(154, 199, 224, 0.5) !important; 
}

.ui-accordion-header-collapsed{
    background: rgb(0, 162, 255,0.5) !important; 
}

#reloj{
  color: rgb(0, 162, 255);
}

/** Reloj Análogo */
.codehim-clock-dale {
  border: 10px solid rgba(0, 162, 255,0.8);
}

.number{
  color: rgba(0, 162, 255);
}

.p3,
.p6,
.p9,
.p12 {
   background:rgba(0, 162, 255, 0.3);
}

.clock-center{
  background: rgba(0, 162, 255);
  background: -webkit-linear-gradient(to right,rgba(0, 162, 255), rgb(28, 111, 160));
	background: linear-gradient(to right,rgba(0, 162, 255,0.5), rgb(28, 111, 160));
}

/* clock hands */

.seconds-hand{
    background: rgba(0, 162, 255, 0.5); 
}

.minutes-hand{
    background: rgba(0, 162, 255,0.8);
}

.hours-hand{
    background: rgba(28, 111, 160);  
}

.date-box{
   background: rgba(0, 162, 255,0.8);
}
.date-box .day{
  background: rgba(28, 111, 160); 
}

.logo-outer{
   border-left: 3px solid rgba(0, 162, 255);
}

.logo-outer1 {
  border-left: 3px solid rgba(0, 162, 255, 0.5) ;
}


#form_contact select{
  border: 1px solid rgb(0, 162, 255);
  box-shadow: 2px 2px 2px rgb(28, 111, 160);
}

#box h2{
  color:  rgb(0, 162, 255);
}
