/** GUIA DE ESTILO PARA TEMA RED */

#global{
  background: white;
}

body{
  background: url('../img/rojo.jpg');
  background-attachment: fixed;
}

/** Formato Logo y título de la página */
#logo{
  background:red;
  color: white;
}
/** Formato Cabecera Men */
#menu{
  background: rgb(226, 50, 50);
}

#menu ul li:hover{
  background: rgb(167, 49, 49);
}

#menu a{
  color: white;
}

.post h2{
  color:  rgb(226, 50, 50);
}

.button-more{
  background: red;
}

/** ESTILO BARRA LATERAL */
#sidebar h4{
  color: rgb(226, 50, 50);
}

/** ESTILO DATOS DE USUARIO*/
.userData{
    color: rgb(226, 50, 50);
}

/** ESTILO FORMULARIO USUARIO */

form label{
    color: rgb(226, 50, 50);
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type='number'],
form input[type='date'],
#form_contact select
{
  border: 1px solid  rgb(226, 50, 50);
  box-shadow: 2px 2px 2px rgb(167, 49, 49);
}

form input[type='submit']{
  background: rgb(226, 50, 50);
}

/** ESTILO DEL PIE DE LA PÁGINA*/
footer{
  background: rgba(51,51,51,0.40);
}

.ui-state-active{
    background: rgb(226, 50, 50) !important; 
}

.ui-accordion-content{
    background: rgba(221, 157, 157, 0.5) !important; 
}

.ui-accordion-header-collapsed{
    background: rgb(226, 50, 50,0.5) !important; 
}

#reloj{
  color:rgb(226, 50, 50);
}

/** Reloj Análogo */
.codehim-clock-dale {
  border: 10px solid rgba(226, 50, 50,0.8);
}

.number{
  color: rgba(226, 50, 50);
}

.p3,
.p6,
.p9,
.p12 {
   background:rgba(226, 50, 50, 0.3);
}

.clock-center{
  background: rgba(226, 50, 50);
  background: -webkit-linear-gradient(to right,rgba(226, 50, 50), red);
	background: linear-gradient(to right,rgba(226, 50, 50,0.5), red);
}

/* clock hands */

.seconds-hand{
    background: rgba(226, 50, 50, 0.5); 
}

.minutes-hand{
    background: rgba(226, 50, 50,0.8);
}

.hours-hand{
    background: red;  
    border-left: 1px solid rgba(255, 255, 255, 0.1); 
}

.date-box{
   background: rgba(226, 50, 50,0.8);
}
.date-box .day{
  background: red; 
}

.logo-outer{
   border-left: 3px solid rgba(226, 50, 50,0.5);
}

.logo-outer1 {
  border-left: 3px solid rgba(226, 50, 50) ;
}

#form_contact select{
  border: 1px solid  rgb(226, 50, 50);
  box-shadow: 2px 2px 2px rgb(167, 49, 49);
}
